.color-item{
  display: flex;
  flex-direction: column;
  width: 20%;
  min-width: 170px;

  font-size: 1rem;
  padding: 0 0.625em;
  box-shadow: 0 0 4px #21253f84;
  border-radius: 2.5em;

  gap: 5px;
}

.color-item__title{
  font-size: 1.125rem;
  text-transform: uppercase;
  display: block;
  margin-left: 10px;
}

.color-item__btn{
  align-self: start;
  display: block;
  padding: 5px 7px;
  color: #21253f84;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.color-item__btn:hover{
  color: red;
  background-color: #21253f20;
}

.color-item__color{
  display: block;
  height: 80px;
  border-radius: 5px;
}
